
@font-face {
    font-family: SourceHanSansCN;
    src: url("~@/assets/font/SourceHanSansCN.otf");
}

@font-face {
    font-family: DIN-Regular;
    src: url("~@/assets/font/DIN-Regular.otf");
}

@font-face {
    font-family: ALi-Puhuiti;
    src: url("~@/assets/font/AlibabaPuHuiTi-Regular.otf");
}

@font-face {
    font-family: filpper;
    src: url("~@/assets/font/flipper2017.ttf");
}